<div class="footer bg-black text-white h-40 flex flex-col justify-center place-center">
<h1 class=" text-[30px] place-self-center"> Job Portal</h1>
<div class="place-self-center"><span>&copy;</span>
<span>By Amit Saini</span></div>
</div>