<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
     <% if(!sessionUser){ %>
                    login again
                <% } else {%> 
    <header class="flex justify-between bg-black text-white items-align-center">
        <div class="logo  text-[40px]">Job Portal</div>
        <ul class="flex gap-10  text-[30px]  ">
            <a href="/employee/jobs" class="cursor-pointer hover:bg-violet-700 p-4">Jobs</a>
            <a href="/employee/applied" class="cursor-pointer hover:bg-violet-700 p-4 ">Applied Job</a>
        </ul>
        <div class="profile text-[30px] gap-4 flex">
           
            <h1>Hello, <%=sessionUser.name %></h1>
            <a href="/logout" class="cursor-pointer hover:bg-violet-700 p-4">Logout</a>
            <a href="/employee/profile" class="cursor-pointer hover:bg-violet-700 p-4">Profile</a>
            <% } %>
        </div>
        
    </header>
</body>
</html>