    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Portal Login Signup</title>
        
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar flex justify-around">
    <div class="logo">
        <span>Job Portal</span>
        </div>
        <a href="/employee">User Login</a>
        
    </nav>
        </header>
        <% if (typeof message !== 'undefined') { %>
    <p class="<%= success ? 'text-success' : 'text-danger' %> fs-4 text-center my-3"><%= message %></p>
  <% } %>
            <p class="text-red-800 text-[60px] font-bold place-self-center">Employer Login</p>
            <form method="POST" action="/employer_reg" class="register ""><h1 class="text-[30px] text-green-500"">Registration</h1>
                <input type="text" placeholder="Name" id="name" class="name" name="name" required><br>
                <input type="email" placeholder="Email" id="email" class="email" name="email" required><br>
                <input type="password" placeholder="Password" id="password" class="password" name="password" minlength="8" maxlength="8" required><br>
                <input type="submit" value="Register" class="bg-violet-500 hover:bg-violet-600 text-white text-[40px]">
                <p>Already Registered? <a href="#" onclick="login(); event.preventDefault();"  class=" text-[20px] text-blue-400 font-bold">Login</a></p>
            </form>
            <% if (success) { %>
    <script>
        const loggedIn=JSON.parse()
      setTimeout(() => {
        window.location.href = "employee/employee.html";
      }, 2000);
    </script>
  <% } %>
            <form method="POST" action="/employer_login" class="login text-green-900 pt-[20px]">
                <h1 class="text-green-500 text-[40px]">Login</h1>
                <input type="email" placeholder="Email" id="email" class="email w-full" name="email" required><br>
                <input type="password" placeholder="Password" id="password" class="password" name="password" minlength="8" maxlength="8" required><br>
                <input type="submit" value="Login"class="bg-violet-500 hover:bg-violet-600 text-white text-[40px]">
                <p>Not Registered? <a href="#" onclick="register(); event.preventDefault();" class=" text-[20px] text-blue-400 font-bold">Register</a></p>
            </form>
        </div>
        <script>
            function login()
            { 
                document.querySelector(".register").style.display="none";
                document.querySelector(".login").style.display="block";
            }
            function register()
            {
                document.querySelector(".register").style.display="block";
                document.querySelector(".login").style.display="none";
            }
            document.addEventListener("DOMContentLoaded",()=>{
                document.querySelector(".register").style.display="none";
                document.querySelector(".login").style.display="block";
            })
        </script>
    </body>
    </html>